
p {
  margin-right:0in;
  margin-left:0in;
  text-align:justify;
  font-size:12.0pt;
  font-family:Arial;
  color:black
}

A {
  color: #41597A;
  text-decoration: underline;
  background: white
}

h2 {
  margin-right:0in;
  margin-left:0in;
  text-align:left;
  font-size:18.0pt;
  font-family:Arial;
  color:#525052;
  font-weight:bold
}

.contentslist {
  text-align:left;
  margin-top:0in;
  margin-bottom:0in
}
.menuitemlist {
  margin-top:12.0pt
}

.application {
  font-weight:bold
}

.guimenu {
  color:black;
  background:#FAFAFA
}

.guilabel {
  color:black;
  background:#FAFAFA
}

.email {
  font-family: Courier New;
  font-size: 10.0pt
}

.shortcutkey {
  color: black;
  background: #FAFAFA
}
